 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;800&display=swap');

 * {
     font-family: 'Work Sans', sans-serif;
 }

 /* For Header Section */
 header {
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
 }

 .header-section {
     display: flex;
     justify-content: space-around;
     padding: 1rem;
 }

 .logo-items {
     align-items: center;
 }

 .logo-items img {
     width: 4rem;
     padding-right: 1.8rem;
 }

 .logo {
     font-size: 45px;
     font-weight: 700;
     color: #0B0223;
 }

 .spn-primary {
     color: #F948B2;
     margin: -12px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav ul li a {
     text-decoration: none;
     padding: 1rem;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
 }

 nav ul li {
     text-decoration: none;
     list-style: none;
 }

 .nav-one {
     display: flex;
     justify-content: space-around;

 }

 .nav-two {
     display: flex;
     justify-content: space-around;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     padding: 10px 0px;
 }

 /* For Main Section */

 .banner-section {
     display: flex;
     justify-content: space-around;
     width: 100%;
 }

 .banner-container {
     width: 100%;
     background-image: url("../images/Group\ 14.png");

 }

 .banner-descrip {
     text-align: left;
     width: 60%;
     margin: 0 auto;
     margin-top: 7rem;
 }

 .banner-descrip h4 {
     color: #0B0223;
     font-size: 48px;
     font-weight: 600;
     text-transform: uppercase;
     margin: 1rem 0rem;
 }

 .banner-descrip h1 {
     font-size: 95px;
     font-weight: 800;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin: 2.5rem 0rem;
 }

 .banner-descrip h6 {
     color: #534C64;
     font-size: 20px;
     font-weight: 500;
     text-transform: lowercase;
     margin: .8rem 0rem;
 }

 .btn-one {
     background-color: #FF42A5;
     padding: 18px 35px;
     border-radius: 48px;
     gap: 10px;
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     border: none;
     margin-top: 1.5rem;
     margin-right: 1rem;
 }

 .btn-two {
     display: inline-flex;
     padding: 18px 35px;
     align-items: flex-start;
     gap: 10px;
     border-radius: 48px;
     background: #4EC5F7;
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     border: none;
     margin-top: 1.5rem;
 }

 .banner-img {
     width: 100%;
 }

 .banner-items img {
     width: 70%;
     margin: 2rem;
     height: 600px;
 }


 /* For Gamer Section */

 .gamer-section {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
     padding: 2rem 0rem;
 }

 .gamer-img {
     width: 60%;
 }

 .gamer-img img {
     width: 85%;
     margin-left: 6rem;
     margin-top: 4rem;
 }

 .gamer-descrip {
     width: 40%;
     text-align: right;
     margin-right: 10rem;
 }

 .gamer-descrip h3 {
     margin: 1.5rem 0rem;
     font-size: 48px;
     font-weight: 700;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

 }

 .gamer-descrip p {
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
 }

 .btn-three {
     border-radius: 48px;
     background-color: #F948B2;
     padding: 12px 40px;
     border: none;
     color: #FFF;
     font-size: 18px;

 }

 .gamer-descrip h6 {
     color: #534C64;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px;
     margin: 0px;
     margin-top: 1rem;
 }

 .gamer-descrip h4 {
     color: #534C64;
     font-size: 25px;
     font-weight: 700;
     line-height: 45px;
     margin: 0;
 }

 /* For Online Games Section */
 .online-games-section {
     width: 100%;
     margin: 4rem 0rem;
 }

 .online-games-descrip {
     text-align: center;
 }

 .online-games-descrip h3 {
     color: #0B0223;
     font-size: 48px;
     font-weight: 700;
     margin: 0px;
     margin-bottom: 1.5rem;
 }

 .online-spn {

     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;


 }

 .online-games-descrip p {
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin: 0px;
     margin-bottom: 2rem;
 }

 .online-games-container {
     display: flex;
     justify-content: space-around;
     width: 80%;
     margin: 0 auto;
 }

 .card {}

 .card-img {
     /* width: 245px; */
     width: 92%;
     /* margin: 3px; */
 }

 .online-games-img p {
     color: #534C64;
     font-size: 12px;
     font-weight: 500;
     line-height: 20px;
 }

 /* For Play Section */

 .play-one {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;


 }

 .play-descrip {
     padding-top: 8rem;
     padding-left: 7rem;
     text-align: right;
 }

 .play-descrip h2 {
     font-size: 30px;
     font-weight: 700;
     line-height: 35px;
     text-align: right;
 }

 .play-spn {
     background-color: #F948B2;
 }

 .play-descrip p {
     color: #534C64;
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
 }

 .play-img {}

 .play-main-img {
     width: 50%;
     left: 20rem;
     margin-left: -5rem;
     position: relative;
 }

 .play-sec-img {
     position: relative;
     width: 30%;
     top: 8rem;
     right: 16rem;
 }